<config><val name="fps" value="60"/><val name="ups" value="120"/><val name="winW" value="1440"/><val name="winH" value="810"/><val name="winTit" value="Icegame"/><val name="fullScr" value="true"/><val name="camW" value="480"/><val name="camH" value="270"/><val name="guiW" value="1440"/><val name="guiH" value="810"/><val name="showRigids" value="false"/><val name="showSpr" value="true"/><val name="showPart" value="true"/></config>